[submodule "breakpad"]
	path = breakpad
	url = https://github.com/google/breakpad.git
[submodule "androidNativeActivity"]
	path = androidNativeActivity
	url = https://github.com/lanhuaguizha/androidNativeActivity.git
[submodule "linux-syscall-support"]
	path = linux-syscall-support
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "breakpad-cmake"]
	path = breakpad-cmake
	url = https://github.com/Niap/breakpad-cmake.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
