[submodule "breakpad"]
	path = breakpad
	url = https://github.com/google/breakpad.git
[submodule "androidNativeActivity"]
	path = androidNativeActivity
	url = https://github.com/lanhuaguizha/androidNativeActivity.git
[submodule "linux-syscall-support"]
	path = linux-syscall-support
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "breakpad-cmake"]
	path = breakpad-cmake
	url = https://github.com/Niap/breakpad-cmake.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "ndk-samples"]
	path = ndk-samples
	url = https://github.com/android/ndk-samples.git
[submodule "localCTP"]
	path = localCTP
	url = https://github.com/dearleeyoung/LocalCTP.git
[submodule "shinnytech/trade-gateway"]
	path = shinnytech/trade-gateway
	url = https://github.com/shinnytech/open-trade-gateway.git
[submodule "build-script"]
	path = build-script
	url = git@github.com:weijunfeng/simple-build-ios-and-android-script.git
[submodule "google/jna"]
	path = google/jna
	url = https://github.com/java-native-access/jna.git
[submodule "google/JNAerator"]
	path = google/JNAerator
	url = https://github.com/nativelibs4java/JNAerator.git
[submodule "rust/rust-android-gradle"]
	path = rust/rust-android-gradle
	url = https://github.com/mozilla/rust-android-gradle.git
[submodule "rust/RetouchPic"]
	path = rust/RetouchPic
	url = https://github.com/whitestarlau/RetouchPic
[submodule "rust/cargo-ndk-android-gradle"]
	path = rust/cargo-ndk-android-gradle
	url = https://github.com/willir/cargo-ndk-android-gradle.git
[submodule "rust/num"]
	path = rust/num
	url = https://github.com/rust-num/num.git
[submodule "rust/sunface/rust-course"]
	path = rust/sunface/rust-course
	url = https://github.com/sunface/rust-course.git
[submodule "rust/sunface/rust-by-practice"]
	path = rust/sunface/rust-by-practice
	url = https://github.com/sunface/rust-by-practice.git
[submodule "rust/sunface/new-rusty-book"]
	path = rust/sunface/new-rusty-book
	url = https://github.com/sunface/new-rusty-book.git
[submodule "rust/sunface/tokio-course"]
	path = rust/sunface/tokio-course
	url = https://github.com/sunface/tokio-course.git
[submodule "rust/sunface/too-many-lists"]
	path = rust/sunface/too-many-lists
	url = https://github.com/sunface/too-many-lists.git
[submodule "rust/rust-lang/book"]
	path = rust/rust-lang/book
	url = https://github.com/rust-lang/book.git
